@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #0c0c0c;
  --secondary-color: #5a5a5a;
  --text-primary: #fff;
  --text-secondary: #d3d3d3;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body,
.card,
.navbar {
  background-color: var(--primary-color);
  color: var(--text-primary);
}

#navbar-logo {
  height: 5em;
}

.navbar-nav > .nav-item > .nav-link {
  position: relative;
  color: var(--text-primary);
}

.navbar-nav > .nav-item > .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-nav > .nav-item > .nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#home {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(12%2c 12%2c 12%2c 1)'%3e%3c/rect%3e%3cpath d='M1323.658310750486 365.92178550585027L1408.0652558564025 317.18941302747527 1359.3328833780276 232.78246792155866 1274.925938272111 281.51484039993363z' fill='rgba(90%2c 90%2c 90%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M511.5005664095228 350.68379311790255L398.80662808745376 400.8583671192786 448.9812020888298 513.5523054413477 561.6751404108988 463.37773143997157z' fill='rgba(90%2c 90%2c 90%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1269.9687776057945 320.53023273421184L1232.2189548096983 210.8967867394548 1122.5855088149412 248.64660953555094 1160.3353316110374 358.28005553030795z' fill='rgba(90%2c 90%2c 90%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M437.6261999723457 180.14092391425032L337.2780842569959 68.69305076125485 225.83021110400043 169.04116647660467 326.1783268193502 280.48903962960014z' fill='rgba(90%2c 90%2c 90%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1088.072365372308-47.62274441292607L1056.542456174222 30.416519332666326 1134.5817199198143 61.9464285307524 1166.1116291179005-16.092835214839997z' fill='rgba(90%2c 90%2c 90%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M420.70369920029555 166.0053496296082L334.9697895790129 77.22528729698902 246.18972724639374 162.95919691827166 331.92363686767635 251.73925925089083z' fill='rgba(90%2c 90%2c 90%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-btn {
  color: var(--text-primary);
}

.custom-btn:hover {
  background-color: var(--text-primary);
  color: var(--primary-color);
}

img {
  filter: grayscale(100%);
  object-fit: cover;
}

.gallery-img {
  height: 30em;
  width: 100%;
}

.recent-img,
.about-me-img {
  height: 25em;
  width: 25em;
}

@media only screen and (max-width: 480px) {
  .gallery-img,
  .recent-img,
  .about-me-img {
    width: 20em;
    height: 20em;
  }
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--secondary-color);
  opacity: 1;
}

.swiper-pagination-bullet {
  background-color: var(--text-primary);
  opacity: 0.9;
}

.bi-circle {
  font-size: 0.4rem;
}

small.text-decoration-underline {
  cursor: pointer;
}

small.text-decoration-underline:hover {
  color: var(--text-secondary);
}

.img-container {
  position: relative;
}

.image {
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.img-hover-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.img-container:hover .image {
  opacity: 0.8;
}

.img-container:hover .img-hover-text {
  opacity: 1;
}

.line {
  height: 15rem;
  width: 2px;
  background-color: var(--text-primary);
}

.lb-data .lb-close {
  position: absolute;
  top: -35px;
  margin-right: -50px;
}

.footer-nav:hover {
  text-decoration: underline;
  cursor: pointer;
}
